<mat-sidenav-container class="account-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <ng-container *ngIf="isAdmin; else userLinks">
        <a mat-list-item *ngIf="isLoggedIn" [routerLink]="['/admin/account/products']">Products</a>
      </ng-container>
      <ng-template #userLinks>
        <a mat-list-item *ngIf="isLoggedIn" [routerLink]="['/home/account/profile']">Profile</a>
        <a mat-list-item *ngIf="isLoggedIn" [routerLink]="['/home/account/shopping-card']">Shopping Card</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
