<mat-toolbar color="primary">
  <div>
    <button mat-icon-button class="icon" aria-label="icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span (click)="loadHome()">E-Commerce
    <mat-icon>store</mat-icon>
  </span>
    <button mat-button (click)="loadProducts()">Products</button>
    <button mat-button >About Us</button>
  </div>

  <div class="spacer"></div>

  <div class="login-register-buttons">
    <button mat-button *ngIf="!isLoggedIn" (click)="openLoginDialog()">Login</button>
    <button mat-button *ngIf="!isLoggedIn" (click)="openRegisterDialog()">Register</button>
  </div>

  <div class="icon-buttons">
    <button mat-icon-button *ngIf="isLoggedIn" class="icon shopping_cart-icon" aria-label="" (click)="toggleCart()" matBadge="{{ cartItemCount }}" matBadgeColor="warn">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <div *ngIf="showCart" class="cart-popup">
      <div *ngFor="let item of cartItems">
        <p>{{item.adet}} - {{ item.Urunler_Adi }} - {{ item.Urunler_Fiyat | currency: "TRY":"₺" }}</p>
        <button mat-button (click)="removeFromCart(item._id)">Remove</button>
      </div>
    </div>
    <button mat-icon-button *ngIf="isLoggedIn" (click)="logout()" class="icon logout-icon" aria-label="">
      <mat-icon>logout</mat-icon>
    </button>
    <button mat-icon-button class="icon account_circle-icon" *ngIf="isLoggedIn" (click)="openAccountComponent()" aria-label="">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="icon favorite-icon" aria-label="icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</mat-toolbar>
<br>
